<!DOCTYPE html>
<html ng-app="harlanTest1App" ng-cloak>
	<head>
		<title>Test1</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto+Condensed|Roboto:100,300,300i,400,400i,500,700|" rel="stylesheet">
		<!--<link rel="stylesheet" href="https://openlayers.org/en/v3.20.0/css/ol.css" type="text/css">-->
    <link rel="stylesheet" href="../../vendor/bootstrap-darkly.min.css">
		<link rel="stylesheet" href="./test1.css"/>
		<link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->



	</head>

	<body ng-controller="harlanTest1Controller">
		<div id="main">
			<div id="ol_map" class="ol_map"></div>
		</div>

				
		<div id="right_panel">
			<h4>Layers</h4>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbWater" ng-change="updateLayers()"/>Water
        </label>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbRoad" ng-change="updateLayers()"/>Road
        </label>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbLanduse" ng-change="updateLayers()"/>Landuse
        </label>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbLocation" ng-change="updateLayers()"/>Location
        </label> 
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbPlace" ng-change="updateLayers()" disabled/>Place(name)
        </label>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbOrigin" ng-change="updateLayers()"/>Origin
        </label>
        <label class='checkbox-inline'>
          <input type="checkbox" ng-model="model.cbIsochrone" ng-change="updateLayers()" disabled/>Isochrone
        </label>

      <h4>Origin</h4>
        <div ng-repeat="org in origins">
          <label><input type="radio" name="originRadio" ng-model="model.rbOrg" value="{{$index}}" ng-change="changeOrg($index)" ng-checked="{{$index === 0}}">{{org.name}}</label>
        </div>

      <h4>Zoom</h4>
        <button type="button" class="btn btn-primary btn-sm" ng-click="tg.zoomIn()">Zoom In</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="tg.zoomOut()">Zoom Out</button>

		</div>



		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
		<!--<script src="https://openlayers.org/en/v3.20.0/build/ol.js"></script>-->

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="../../vendor/angular.min.js"></script>
		<script src="../../vendor/bootstrap.min.js"></script>
		<script src="../../vendor/tps.js"></script>

		<script src="./config.js"></script>
		<script src="./data/tod_th.js"></script>

		<script src="../../app/src/tg_util.js"></script>
		<script src="../../app/src/tg_graph.js"></script>

		<script src="../../app/src/node/tg_node.js"></script>
		<script src="../../app/src/node/tg_location_node.js"></script>
		<script src="../../app/src/node/tg_control_point.js"></script>
		<script src="../../app/src/api/tg_travel_time_api.js"></script>

		<script src="../../app/src/map/tg_map_util.js"></script>
    <script src="../../app/src/map/tg_map_vector_tile.js"></script>
		<script src="../../app/src/map/tg_map_roads.js"></script>
		<script src="../../app/src/map/tg_map_water.js"></script>
		<script src="../../app/src/map/tg_map_landuse.js"></script>
		<script src="../../app/src/map/tg_map_places.js"></script>
		<script src="../../app/src/map/tg_map_locations.js"></script>
		<script src="../../app/src/map/tg_map_isochrone.js"></script>
		<script src="../../app/src/map/tg_map_bounding_box.js"></script>
		<script src="../../app/src/map/tg_map_origin.js"></script>
		<script src="../../app/src/map/tg_map_grid.js"></script>
		<script src="../../app/src/map/tg_map_control.js"></script>
		<script src="../../app/src/map/tg_map_interactions.js"></script>
		<script src="../../app/src/tg_map.js"></script>
		<script src="../../app/src/tg_app.js"></script>


		<script src="./js/test1_controller.js"></script>
		<script src="./js/test1.js"></script>
	</body>
</html>