html, body {
	width: 1300px;
	height: 1000px;
}

#main{
	background-color: #EAEAEA;
	width: 1000px;
	height: 1000px;
	position: absolute;
	left: 0;
	top: 0;
}

#ol_map {
	height: 100%;
	width: 100%;
}

.ol-control.ol-zoom {
  left: calc(100% - 50px);
}

#right_panel {
	position: absolute;
	left: 1050px;
	top: 0;
}