.cb {
	margin-right: 15px;
	margin-top: 5px;
}

.ol_map {
	width: 540px;
	height:960px;
	border-style: inset;
	width: 100%;
	background-color: rgba(255,255,255,1);
	margin: 10px;
}

.ol-control.ol-zoom {
  left: calc(100% - 33px);
}

.disabledText {
	color: #999;
}

.marginL {
	margin-left: 5px;
}

.marginR {
	margin-right: 5px;
}

.marginT {
	margin-top: 5px;
}

.marginB {
	margin-bottom: 5px;
}